body {
  background-color: black;
  vertical-align: middle;
  text-align: center;
}

form {
  display: inline-block;
}

th,
tr,
td {
  color: rgb(28, 243, 92);
  margin: auto;
  width: 50%;
  text-align: center;
}

#siteFieldTitle {
  background-color: black;
  color: rgb(28, 243, 92);
  border-radius: 10px;
  padding: 1px 1px 1px 5px;
  border: .8px solid rgb(28, 243, 92);
  font-family: monospace;
}

#siteName {
  background-color: black;
  color: rgb(28, 243, 92);
  font-family: monospace;
  margin: 0px 0px 10px 0px;
  border: 0;
}

#optionTitle {
  background-color: black;
  color: rgb(28, 243, 92);
  border-radius: 15px;
  padding: 1px 1px 1px 5px;
  border: .8px solid rgb(28, 243, 92);
  font-family: monospace;
}

#submitBtn {
  background-color: rgb(28, 243, 92);
  font-family: monospace;
  border-radius: 15px;
  color: black;
  border: 0;
  border: 1px solid rgb(28, 243, 92);
}

#backButton {
  background-color: rgb(28, 243, 92);
  font-family: monospace;
  border-radius: 15px;
  color: black;
  border: 0;
  border: 1px solid rgb(28, 243, 92);
}

.dropdown-select {
  margin: 0px 0px 10px 0px;
  color: rgb(28, 243, 92);
  font-family: monospace;
  border-radius: 15px;
  background-color: black;
  border: 0;
}

input[type=text]:focus {
  outline-width: 0;
}

select:focus {
  outline-width: 0;
}
